.left-col {
	animation: width_animation_reverse 0.5s forwards ease-in-out;
	background: $color-primary;
	color: white;
	height: 100%;
	opacity: 1;
	padding: 16px 0 20px;
	position: fixed;
	top: 0;
	transform: translateX(0);
	width: 230px;
	z-index: 101;

	.logo-main img {
		height: 40px;
		object-fit: contain;
		width: 100%;
	}

	.left-menu {
		ul {
			list-style: none;

			li {
				margin-bottom: 0;
				position: relative;

				a {
					border: 3px solid transparent;
					color: $color-white-secondary;
					line-height: 24px;
					padding: 15px 20px;
					text-decoration: none;

					span {
						animation: opacitiy_animation 0.3s forwards ease-in-out;
					}

					.list-icon {
						font-size: 22px;
						height: 24px;
						margin-right: 15px;
						text-align: center;
						width: 30px;

						path {
							fill: $color-white-secondary;
						}
					}

					&.active {
						color: $color-white;
						opacity: 1;
						background-color: blue;
						path {
							fill: $color-white;
						}
					}

					&:hover,
					&:active,
					&:focus {
						opacity: 1;
						outline: none;
						background-color: blue;

						path {
							fill: $color-white;
						}
					}
				}

				.submnu-custom {
					&.dropdown-menu {
						padding: 0;
						border: 0;
						float: none;
						margin-top: 0;
						position: static;
						transform: translateX(0);
						transition: all 0.4s ease-in-out;
						background-color: #6a8bea;
						// width: 100%;
						&.show {
							transform: translateX(0);
							transition: all 0.8s ease-in-out;
						}
					}

					ul {
						li {
							margin-bottom: 0;
							margin-left: -20px;

							a {
								border-width: 0;
								opacity: 1;
								padding-left: 5rem;
								color: $color-white;

								&.active {
									opacity: 1;
									background-color: blue;
									border-radius: .25rem;
									color: $color-white;
								}

								&:hover,
								&:active,
								&:focus {
									opacity: 1;
									background-color: blue;
									outline: none;
									border-radius: .25rem;
									color: $color-white;
								}
							}
						}
					}

					.custom-scroll-bar {
						max-height: 272px;
						overflow-y: auto;

						&::-webkit-scrollbar-track {
							background-color: $color-secondary;
							box-shadow: inset 0 0 6px #5c5c5c;;
						}

						&::-webkit-scrollbar {
							width: 6px;
						}

						&::-webkit-scrollbar-thumb {
							background-color: $color-white;
						}
					}
				}
			}
		}
	}

	.close-icon {
		display: none;
		font-size: 20px;
		height: 25px;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 25px;

		path {
			fill: #5c5c5c;
		}
	}
	@media (max-width: 576px) {
		width: 100vw;

		.close-icon {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		.logo-main img {
			width: calc(100% - 2rem - 45px);
		}
	}
}

.toggle {
	animation: width_anime 0.5s forwards ease-in-out;
	.left-col {
		.submnu-custom {
			display: none;
		}
		border-radius: 0 20px 0 0;
		transform: translateX(0);
		width: 70px;

		@media (max-width: 576px) {
			margin-left: -71px;
		}
		.left-menu {
			ul {
				li {
					a {
						padding: 15px 50px;

						span {
							display: none;
							opacity: 0;
						}

						.list-icon {
							margin-right: 0;
						}

						&.active {
							background-color: #6a8bea;
							color: $color-white;
							opacity: 1;
							outline: none;

							path {
								fill: $color-white;
							}
						}
					}
				}

				li:hover {
					.submnu-custom {
						display: block;
						left: 50px;
						position: absolute;
						top: 0;

						&.show{
							padding: 0px;
						}

						&::before {
							border: 8px solid transparent;
							border-right-color: $color-white;
							content: '';
							position: absolute;
							transform: translate(-100%, 20px);
						}

						&.dropdown-menu {
							box-shadow: 0 3px 10px #5c5c5c;
							padding: 0;

							ul {
								background-color: $color-white;

								li {
									background-color: $color-white;
									margin-left: 0;

									a {
										font-size: 14px;
										padding: 5px 20px;

										&.active {
											// background-color: #6a8bea;
											color: $color-primary;
										}

										&:hover,
										&:focus {
											background-color: blue;
										}
									}

									&:first-child {
										a {
											margin-top: 10px;
										}
									}

									&:last-child {
										a {
											margin-bottom: 10px;
										}
									}
								}
							}

							.custom-scroll-bar {
								background-color: $color-white;
								border-radius: 4px;
								max-height: unset;
							}
						}
					}
				}
			}
		}
	}
}
@keyframes width_animation {
	from {
		width: rem(230px);
	}

	to {
		width: rem(70px);
	}
}

@keyframes width_animation_reverse {
	from {
		width: rem(70px);
	}

	to {
		width: rem(230px);
	}
}
@keyframes opacitiy_animation {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
