.form-group {
	.form-control {
	  min-height: calc(2em + 0.75rem + 2px);

	  &-sm {
		min-height: calc(1em + 0.75rem + 2px);
	  }
	}
	.react_select__control {
		min-height: calc(2em + 0.75rem + 2px);
	}
}
.file-input {
	.dropzone {
		background-color: transparent;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		padding: 10px;

		&:focus {
			outline: none;
		}
	}

	i {
		color: #49525f;
	}

	.thumbs-container {
		display: flex;
		margin-top: 1rem;
		.file-preview{
			height: 150px;
			width: 150px;
		}
		img {
			border-radius: 10px;
			height: 100%;
			object-fit: cover;
		}

		.btn-sm {
			padding: 0.25rem 0.5rem;
		}
	}
}

.not-show-iconpreview {
	.thumbs-container {
		margin-top: 4px;
		.thumb--document {
			height: auto;
			margin-bottom: 0;
			margin-right: 0;

			.thumb--document-name {
				font-size: 14px;
				margin-top: 0 !important;
			}
		}
	}
}

.form-control {
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
